.skirt {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    background-image: url(../../../images/карты/1-Christmas-Tree.jpg);
  /* &:active {
    box-shadow: 0 0 10px black;
  } */
}